---
layout: default
title: Photographs
photos:
  - image_path: /assets/photos/horsedoctor_20171111.jpg
    caption: Horse Doctor
  - image_path: /assets/photos/bog_20180422.jpg
    caption: The Bog in Montreal, Canada
---
{% include site-header.html %}

{% assign sorted_gallery = site.photos | sort: 'weight' %}
<ul class="photo-gallery">
  {% for image in sorted_gallery %}
    <li>
        <img src="{{ image.image_path }}" alt="{{ image.caption }}">
    </li>
  {% endfor %}
</ul>
		
{% include site-footer.html %}
